.jumbotron{ 
    
    font-family:Comic Sans MS;
    color: #1855FF;
}

body {
    background-color: #FF9A7D;
}

p{
    font-family: Times New Roman;
    color:#38849E;
    font-size:15px;
     
}


h3,h4{
    font-family:Comic Sans MS;
    color:#1855FF;
    font-size: 25px
    
}

h5 {
    font-family:Fantasy;
    color:#66FF30;
    font-size:18px;
     -webkit-text-stroke: 1px black;
    
}

.dark-brown {
    background-color: #ceae85;
}